/.idea/
.DS_Store
nb-cache
/viikko4/MockitoDemo/.gradle/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/.gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/.gradle/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/.gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/.gradle/
/viikko4/Tennis/build/
/viikko6/QueryLanguage/build/
/viikko7/KiviPaperiSakset/build/
